<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9d9b6b">  <td>21/02/04 11:15:45</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;OnlineShoppingTest.startReportbeforeTest()[pri:0, instance:testmeapp.tests.OnlineShoppingTest@44821a96]">&gt;&gt;startReportbeforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@359368949</td>   <td></td> </tr>
<tr bgcolor="9d9b6b">  <td>21/02/04 11:15:47</td>   <td>1808</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OnlineShoppingTest.testRegistration()[pri:1, instance:testmeapp.tests.OnlineShoppingTest@44821a96]">testRegistration</td> 
  <td>main@359368949</td>   <td></td> </tr>
<tr bgcolor="9d9b6b">  <td>21/02/04 11:16:08</td>   <td>23420</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;OnlineShoppingTest.getResultAfterMethod(org.testng.ITestResult)[pri:0, instance:testmeapp.tests.OnlineShoppingTest@44821a96]">&lt;&lt;getResultAfterMethod</td> 
<td>&nbsp;</td>  <td>main@359368949</td>   <td></td> </tr>
<tr bgcolor="9d9b6b">  <td>21/02/04 11:16:08</td>   <td>23424</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OnlineShoppingTest.testLogin()[pri:2, instance:testmeapp.tests.OnlineShoppingTest@44821a96]">testLogin</td> 
  <td>main@359368949</td>   <td></td> </tr>
<tr bgcolor="9d9b6b">  <td>21/02/04 11:16:20</td>   <td>34802</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;OnlineShoppingTest.getResultAfterMethod(org.testng.ITestResult)[pri:0, instance:testmeapp.tests.OnlineShoppingTest@44821a96]">&lt;&lt;getResultAfterMethod</td> 
<td>&nbsp;</td>  <td>main@359368949</td>   <td></td> </tr>
<tr bgcolor="9d9b6b">  <td>21/02/04 11:16:20</td>   <td>34803</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OnlineShoppingTest.testCart()[pri:3, instance:testmeapp.tests.OnlineShoppingTest@44821a96]">testCart</td> 
  <td>main@359368949</td>   <td></td> </tr>
<tr bgcolor="9d9b6b">  <td>21/02/04 11:16:22</td>   <td>37098</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;OnlineShoppingTest.getResultAfterMethod(org.testng.ITestResult)[pri:0, instance:testmeapp.tests.OnlineShoppingTest@44821a96]">&lt;&lt;getResultAfterMethod</td> 
<td>&nbsp;</td>  <td>main@359368949</td>   <td></td> </tr>
<tr bgcolor="9d9b6b">  <td>21/02/04 11:16:23</td>   <td>37479</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OnlineShoppingTest.testPayment(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:4, instance:testmeapp.tests.OnlineShoppingTest@44821a96]">testPayment</td> 
  <td>main@359368949</td>   <td></td> </tr>
<tr bgcolor="9d9b6b">  <td>21/02/04 11:17:02</td>   <td>76793</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;OnlineShoppingTest.getResultAfterMethod(org.testng.ITestResult)[pri:0, instance:testmeapp.tests.OnlineShoppingTest@44821a96]">&lt;&lt;getResultAfterMethod</td> 
<td>&nbsp;</td>  <td>main@359368949</td>   <td></td> </tr>
<tr bgcolor="9d9b6b">  <td>21/02/04 11:17:02</td>   <td>76793</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OnlineShoppingTest.testPayment(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:4, instance:testmeapp.tests.OnlineShoppingTest@44821a96]">testPayment</td> 
  <td>main@359368949</td>   <td></td> </tr>
<tr bgcolor="9d9b6b">  <td>21/02/04 11:17:29</td>   <td>104261</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;OnlineShoppingTest.getResultAfterMethod(org.testng.ITestResult)[pri:0, instance:testmeapp.tests.OnlineShoppingTest@44821a96]">&lt;&lt;getResultAfterMethod</td> 
<td>&nbsp;</td>  <td>main@359368949</td>   <td></td> </tr>
<tr bgcolor="9d9b6b">  <td>21/02/04 11:17:41</td>   <td>116412</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OnlineShoppingTest.testPayment(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:4, instance:testmeapp.tests.OnlineShoppingTest@44821a96]">testPayment</td> 
  <td>main@359368949</td>   <td></td> </tr>
<tr bgcolor="9d9b6b">  <td>21/02/04 11:17:41</td>   <td>116417</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;OnlineShoppingTest.getResultAfterMethod(org.testng.ITestResult)[pri:0, instance:testmeapp.tests.OnlineShoppingTest@44821a96]">&lt;&lt;getResultAfterMethod</td> 
<td>&nbsp;</td>  <td>main@359368949</td>   <td></td> </tr>
<tr bgcolor="9d9b6b">  <td>21/02/04 11:17:41</td>   <td>116418</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OnlineShoppingTest.testPayment(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:4, instance:testmeapp.tests.OnlineShoppingTest@44821a96]">testPayment</td> 
  <td>main@359368949</td>   <td></td> </tr>
<tr bgcolor="9d9b6b">  <td>21/02/04 11:17:41</td>   <td>116422</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;OnlineShoppingTest.getResultAfterMethod(org.testng.ITestResult)[pri:0, instance:testmeapp.tests.OnlineShoppingTest@44821a96]">&lt;&lt;getResultAfterMethod</td> 
<td>&nbsp;</td>  <td>main@359368949</td>   <td></td> </tr>
<tr bgcolor="9d9b6b">  <td>21/02/04 11:17:41</td>   <td>116423</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OnlineShoppingTest.testPayment(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:4, instance:testmeapp.tests.OnlineShoppingTest@44821a96]">testPayment</td> 
  <td>main@359368949</td>   <td></td> </tr>
<tr bgcolor="9d9b6b">  <td>21/02/04 11:17:41</td>   <td>116426</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;OnlineShoppingTest.getResultAfterMethod(org.testng.ITestResult)[pri:0, instance:testmeapp.tests.OnlineShoppingTest@44821a96]">&lt;&lt;getResultAfterMethod</td> 
<td>&nbsp;</td>  <td>main@359368949</td>   <td></td> </tr>
<tr bgcolor="9d9b6b">  <td>21/02/04 11:17:41</td>   <td>116427</td> <td>&nbsp;</td><td title="&lt;&lt;OnlineShoppingTest.endReportAfterTest()[pri:0, instance:testmeapp.tests.OnlineShoppingTest@44821a96]">&lt;&lt;endReportAfterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
</table>
